version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    image: wordguesser:dev

    ports:
      - "9292:9292"

    volumes:
      - .:/app

    environment:
      - PORT=9292
      - RACK_ENV=development
      - RAILS_ENV=development
